<div class="container">
  <% if next_page_id.present? %>
    <%= link_to 'Next page >', posts_path(page_id: next_page_id), class: 'pull-right' %>
  <% end %>

  <%= render 'shared/posts_table', posts: posts %>
</div>

<% if next_page_id.present? %>
  <%= link_to 'Next page >', posts_path(page_id: next_page_id), class: 'pull-right' %>
<% end %>

