/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-datepicker3
 */

.text-align-right {
  text-align: right
}

.quick-link {
  margin-left: 15px;
}

.post-row:hover {
  cursor: pointer;
  background-color: #ccc !important;
}

table.lr {
  td {
    vertical-align: top;
  }
}

.li-title {
  display: inline-block;
  width: 100px;
  font-weight: bold;
}

img.original {
  min-width: 200px;
  max-width: 800px;
  width: 95%;
}

img.thumbnail {
  max-width: 250px;
}

.edited {
  color: #999;
  font-size: 12px;
}

a:hover {
  cursor: pointer
}

table {
  th {
    white-space: nowrap;
  }
}

h1 {
  small {
    font-size: 50%;
  }
}

.pagination {
  display: block;
  padding-left: 0;
  margin: 0 0 60px;
  border-radius: 4px;
}

.filter-well {
  .form-control {
    font-size: 12px;
  }

  label {
    font-weight: normal;
  }
}
